<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <ul>
            <li><img src={{url_for('static', filename='logo.svg')}}></li>
            <li class="company">COPe'Dex</li>
            <li style="float:right" class="profile">Welcome, {{username}}<img src={{url_for('static', filename='user.svg')}}></li>
        </ul>
    </div>
    <main>
        <img class="image-divider" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/101448/wedding-divider-png-9.png" />
        <div class="indexArea" >
            <h2>Index</h2>
            <hr class="solid">
            <div class="boxes">
                <div class="box">

                </div>
                <div class="box">

                </div>
                <div class="box">

                </div>

                <div class="box">

                </div>
            </div>
        </div>
        <div class="toolArea">
            <h2>Features</h2>
            <hr class="solid">
            <div class="boxes">
                <div class="box" onclick="redirectToIndividual()">
                    <h1>Stats</h1>
                    <p>View single stocks and their data</p>
                </div>
                <div class="box" onclick="redirectToCompare()">
                    <h1>Arena</h1>
                    <p>Compare stocks at a glance</p>
                </div>
                <div class="box" onclick="redirectToFilter()">
                    <h1>Oak's Lab</h1>
                    <p>Filter out the right stock for you</p>
                </div>
            </div>
        </div>
        <div class="newsAndLetter">
            <div class="news" style="float:left">
                <h2>News</h2>
                <hr class="solid">
            </div>
            <div class="vl"></div>
            <div class="newsletter">
                <h2>Newsletter!</h2>
                <hr class="solid">
                <div class="box">
                    <form id="subscriptionForm">
                        <p>Subscribe to our newsletter to get the latest updates on the stock market!<br></p>
                        <input type="email" name="email" id="email" placeholder="Email"><span><button type="submit" class="button">Subscribe</button></span>
                        <div id="result">Check</div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <a href="/logout" class="logout-button">Logout</a>
    <script>
        function redirectToIndividual() {
            window.location.href = '/stats';
        }
        function redirectToCompare() {
            window.location.href = '/compare';
        }
        function redirectToFilter() {
            window.location.href = '/filter';
        }
        function subscribe() {
            var email = document.getElementById('email').value;
            var resultDiv = document.getElementById('result');
        
            $.ajax({
                type: 'POST',
                url: '/sendMail',
                data: { email: email },
                success: function(response) {
                    resultDiv.innerHTML = response;
                },
                error: function(error) {
                    resultDiv.innerHTML = 'Error occurred while subscribing.';
                }
            });
        }
    </script>
</body>
</html>
